<div class="container">
  <h1>
    <%= @feed.title%>
  </h1>
  <p>
    <%= @feed.description%>
  </p>
  URL
  <%= @feed.url%>
  <%= link_to 'Back to Feeds', feeds_path, class: "btn btn-primary"%>
  <%= link_to 'Sync', sync_feed_path, method: :get, class: 'btn btn-primary' %> 

  <%= render "shared/entries" %>
</div>