<% @entries.each do |entry| %>
<div class="card">
  <% if entry.image %>
  <%= image_tag entry.image, alt: entry.title, class: "card-img-top" %>
  <% end %>
  <div class="card-header">
    <%= @feed == nil && current_user.feeds.find_by_id(entry.feed.id) ? link_to(entry.feed.title, entry.feed) : entry.feed.title %>
    <div class="float-right text-muted">
      <%= time_ago_in_words(entry.published) %> ago
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-title">
      <%= entry.title.html_safe %>
    </h4>
    <% if entry.author %>
    <h6 class="card-subtitle mb-2 text-muted">
      by <%= entry.author %>
    </h6>
    <% end %>
    <p class="card-text">
      <%= entry.summary.html_safe %>
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= current_user.entries.exists?(entry.id) ? link_to("Delete", entry, method: :delete ,class: "btn btn-danger") : link_to("Save", save_entry_path(entry), method: :post ,class: "btn btn-success")%>
    <%= link_to "Go to Article", entry.url, target: "_blank", class: "btn btn-light float-right" %>
  </div>
</div>
<br />
<% end %>