<!DOCTYPE html>
<html>

<head>
  <title>Rails RSS Reader</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_path('ruby-favicon.png') %>
</head>

<body>
  <%= render "shared/navbar" %>
  <br />
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <% if notice %>
          <div class="alert alert-success">
            <%= notice %>
          </div>
        <% end %>
        <% if alert %>
          <div class="alert alert-danger">
            <%= alert %>
          </div>
        <% end %>
      </div>
    </div>

    <%= yield %>
  </div>
</body>

</html>